parameters:
    peststan:
        testCaseClass: PHPUnit\Framework\TestCase
        pestConfigFiles: []
    universalObjectCratesClasses:
        - PHPUnit\Framework\TestCase
    scanDirectories:
        - src

parametersSchema:
    peststan: structure([
        testCaseClass: string()
        pestConfigFiles: listOf(string())
    ])

services:
    -
        class: PestStan\Type\Pest\PestFileDiscoverer
        arguments:
            scanPaths: %paths%
            rootDir: %currentWorkingDirectory%

    -
        class: PestStan\Type\Pest\PestConfigReader
        arguments:
            pestConfigFiles: %peststan.pestConfigFiles%

    -
        class: PestStan\Type\Pest\PestFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension

    -
        class: PestStan\Type\Pest\ExpectationMethodReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PestStan\Type\Pest\OppositeExpectationMethodReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PestStan\Type\Pest\TestClosureThisTypeExtension
        arguments:
            testCaseClass: %peststan.testCaseClass%
        tags:
            - phpstan.functionParameterClosureThisExtension

    -
        class: PestStan\Type\Pest\TestCasePropertiesExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension

    -
        class: PestStan\Type\Pest\ExpectationPropertiesExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension

    -
        class: PestStan\Type\Pest\PestHookPropertyReader

    -
        class: PestStan\Type\Pest\TestCaseDynamicPropertyTypeExtension
        tags:
            - phpstan.broker.expressionTypeResolverExtension

    -
        class: PestStan\Type\Pest\HigherOrderExpectationTypeExtension
        tags:
            - phpstan.broker.expressionTypeResolverExtension

    -
        class: PestStan\Type\Pest\PestInternalClassAccessIgnoreExtension
        tags:
            - phpstan.ignoreErrorExtension

    -
        class: PestStan\Type\Pest\TestCallMethodsClassReflectionExtension
        arguments:
            testCaseClass: %peststan.testCaseClass%
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: PestStan\Type\Pest\ProtectedMethodCallIgnoreExtension
        arguments:
            testCaseClass: %peststan.testCaseClass%
        tags:
            - phpstan.ignoreErrorExtension

    -
        class: PestStan\Rules\InvalidThrowsExceptionRule
        arguments:
            reflectionProvider: @reflectionProvider
        tags:
            - phpstan.rules.rule

    -
        class: PestStan\Rules\CoversClassExistsRule
        arguments:
            reflectionProvider: @reflectionProvider
        tags:
            - phpstan.rules.rule

rules:
    - PestStan\Rules\DisallowedCallInDescribeRule
    - PestStan\Rules\StaticTestClosureRule
    - PestStan\Rules\RepeatWithInvalidValueRule
    - PestStan\Rules\DuplicateTestDescriptionRule
    - PestStan\Rules\ImpossibleExpectationRule
    - PestStan\Rules\RedundantExpectationRule
    - PestStan\Rules\ExpectationValueTypeRule
    - PestStan\Rules\EmptyTestClosureRule
    - PestStan\Rules\BeforeAllThisUsageRule
    - PestStan\Rules\DescribeWithoutTestsRule
    - PestStan\Rules\InvalidGroupNameRule
    - PestStan\Rules\RedundantLocalUseRule
